<footer class="footer">
	<small>
		<a href="http://homekoder.com">Home Koder</a> by Xuan Chien
	</small>
	<nav>
		<ul>
			<li><%= link_to 'About', '#' %></li>
			<li><%= link_to 'Contact', '#' %></li>
			<li><a href='vnexpress.net'>News</a></li>
		</ul>
	</nav>
</footer>